body {
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    margin: 0em;
}

.header {
    font-size: 64px;
    font-weight: 700;
    color: #6b1019;
    padding: 16px;
    padding-bottom: 16px;
    background-color: #6C7C77;
    border-bottom: 2px solid #6C7C77;
    text-align: center;
}

.body {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    align-items: center;
    width: 150px;
    flex-shrink: 0;
    border-right: 2px solid #6C7C77;
    padding-bottom: 16px;
    padding-right: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-bottom: 50px;
    padding-left: 16px;
}

a {
    color: #6C7C77;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.content {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    align-items: baseline;
}

.footer {
    height: 80px;
    background-color: #6C7C77;
    color: #6b1019;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 16px;
}

.contact {
    font-weight: 800;
    font-size: 20px;
}

.info {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
}